<!DOCTYPE html>
<html>
    <head>
        <title>Angular Material Starter</title>
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="css/myApp.css">
    </head>
    <body ng-app="MyApp" layout="column"  ng-controller="usersController as usersCtrl">
        <md-toolbar layout="row" class="md-toolbar-tools">
            <md-button class="menu" aria-label="Show User List" ng-click="usersCtrl.toggleList()" hide-gt-sm>
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h1>Angular Material Starter</h1>
        </md-toolbar>

        <div class="container" id="users" layout="row" flex>
            <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp" md-component-id="usersList">
                <md-list>
                    <md-list-item ng-repeat="user in usersCtrl.users">
                        <md-button ng-disabled="usersCtrl.isTheSelectedUser(user) || usersCtrl.allDisabled" ng-click="usersCtrl.select(user)">
                            <md-icon md-svg-src="{{user.avatar}}" class="avatar"></md-icon>
                            {{user.name}}
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-sidenav>
            <md-content id="content" flex>
                <md-icon md-svg-src="{{usersCtrl.selectedUser.avatar}}" class="avatar"></md-icon>
                <h2>{{usersCtrl.selectedUser.name}}</h2>
                <p>{{usersCtrl.selectedUser.content}}</p>

                <md-button class="md-fab md-fab-top-right" aria-label="Share with {{usersCtrl.selectedUser.name}}" md-no-ink ng-click="usersCtrl.share(usersCtrl.selectedUser)">
                    <md-icon md-svg-icon="share"></md-icon>
                </md-button>                
            </md-content>
        </div>

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>
        <script src="app/myApp.module.js"></script>
        <script src="app/myApp.config.js"></script>
        <script src="app/users/users.module.js"></script>
        <script src="app/users/users.resource.js"></script>
        <script src="app/users/users.controller.js"></script>
        <script src="app/users/userShare.controller.js"></script>
    </body>
</html>